<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties>
        <property name="jdbc.driver" value="com.mysql.jdbc.Driver"/>
        <property name="jdbc.url" value="jdbc:mysql://localhost:3306/mybatis?useSSL=false"/>
        <property name="jdbc.username" value="root"/>
        <property name="jdbc.password" value="123abc"/>
    </properties>

    <settings>
        <setting name="logImpl" value="LOG4J"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="aggressiveLazyLoading" value="false"/>
        <!-- 开启二级缓存 -->
        <setting name="cacheEnabled" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.hongguo.mysql.mybatis.model.SysRole" alias="sysRole"/>
        <package name="com.hongguo.mysql.mybatis.model"/>
    </typeAliases>

    <typeHandlers>
        <typeHandler
                javaType="com.hongguo.mysql.mybatis.enums.Enabled"
                handler="com.hongguo.mysql.mybatis.handler.EnabledTypeHandler"/>
    </typeHandlers>
    
    <objectFactory type="com.hongguo.mysql.mybatis.factory.MyObjectFactory">
        <property name="name" value="MyObjectFactory"/>
    </objectFactory>

    <plugins>
        <plugin interceptor="com.hongguo.mysql.mybatis.interceptor.CameHumpInterceptor" />
    </plugins>

    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"/>
            <dataSource type="UNPOOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/mybatis?useSSL=false&amp;characterEncoding=UTF8"/>
                <property name="username" value="root"/>
                <property name="password" value="123abc"/>
            </dataSource>
        </environment>
    </environments>

    <databaseIdProvider type="DB_VENDOR">
        <property name="MySQL" value="mysql"/>
    </databaseIdProvider>

    <mappers>
        <mapper resource="mapper/CountryMapper.xml"/>
        <mapper class="com.hongguo.mysql.mybatis.mapper.UserMapper"/>
<!--        <mapper resource="mapper/UserMapper.xml"/>-->
<!--        <mapper resource="mapper/RoleMapper.xml"/>-->
<!--        <mapper resource="mapper/UserRoleMapper.xml"/>-->
<!--        <mapper resource="mapper/PrivilegeMapper.xml"/>-->
<!--        <mapper resource="mapper/RolePrivilegeMapper.xml"/>-->
    </mappers>
</configuration>